name: Deploy to Raspberry Pi

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Raspberry Pi webhook
        run: |
          curl -X POST ${{ secrets.LINK }} \
               -H "X-My-Secret: ${{ secrets.DEPLOY_SECRET }}"
